@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

body {
    margin: 0;
    font-family: 'Sansita', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.parallax1 {
    background-image: url("../img/pokemon.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(.5);
}

.box1 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    border-style: groove;
    border-color: rgb(255, 188, 2);
}


.title1 {
    font-family: "Joti One", serif;
    font-size: 60px;
    text-align: center;
    background-color: rgb(250, 179, 47);
    color: #94731a;
}

.box1 h2 {
    color: #ff5e00;
    margin-bottom: 15px;
}

.box1 p {
    margin-bottom: 12px;
    text-align: justify;
}

.box2 {
    text-align: center;
    margin: 20px;
    float: center;

}

.box2 img {
    width: 20%;
    height: 20%;
    border: 2px solid #ccc;
    border-radius: 10px;
}


.parallax2 {
    background-image: url(../img/poke.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(.5);

}

.Box3 {
    background-color: #b95a5a;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
    display: flex;
    align-items: flex;
    gap: 20px;

}

.Box3 .texto {
    flex: 1;
    width: 250px;
    text-align: justify;
    font-size: larger;
    color: #3f0c0c;
}

.Box3 .texto h3 {
    text-align: center;
    color: #270808;
    background-color: #852a2a;
}

.Box3 .imagem img {
    width: 90%;
    height: 60%;
    border: 6px solid #310c0c;
    border-radius: 10px;

}

.title2 {
    text-align: center;
    color: #333;
}

.Box4 {
    background-color: #5da375;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
    display: flex;
    align-items: flex;
    gap: 20px;
}

.Box4 .imagem img {
    width: 90%;
    height: 60%;
    border: 6px solid #0c310e;
    border-radius: 10px;

}

.Box4 .texto {
    flex: 1;
    width: 250px;
    text-align: justify;
    font-size: larger;
    color: #0c3f27;
}

.Box4 .texto h3 {
    text-align: center;
    color: #08270a;
    background-color: #48963e;
}

.Box5 {
    background-color: #dfb691;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
    display: flex;
    align-items: flex;
    gap: 20px;
}

.Box5 .texto {
    flex: 1;
    width: 250px;
    text-align: justify;
    font-size: larger;
    color: #5e331f;
}

.Box5 .imagem img {
    width: 90%;
    height: 60%;
    border: 6px solid #503217;
    border-radius: 10px;

}

.Box5 .texto h3 {
    text-align: center;
    color: #573a29;
    background-color: #bb8968;
}